<a href="https://colab.research.google.com/github/YashSharma082003/Web-Scraping-Project-of-Cricbuzz-Website/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install requests --upgrade --quiet
!pip install BeautifulSoup4 --upgrade --quiet

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
Url = "https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting"

In [ ]:
response = requests.get(Url)

In [ ]:
response.status_code

200

In [ ]:
len(response.text)

324488

Batting Test Match

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')
box = soup.find('div', class_="cb-col cb-col-100 cb-padding-left0")

In [ ]:
positions = box.find_all('div', class_="cb-col cb-col-16 cb-rank-tbl cb-font-16")

Position = []

for i in positions:
    Position.append(i.text)

print(Position)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [ ]:
players = box.find_all('a', class_="text-hvr-underline text-bold cb-font-16")

Player = []

for i in players:
    Player.append(i.text)

print(Player)

['Marnus Labuschagne', 'Steven Smith', 'Babar Azam', 'Travis Head', 'Joe Root', 'Kane Williamson', 'Rishabh Pant', 'Usman Khawaja', 'Dimuth Karunaratne', 'Rohit Sharma', 'Daryl Mitchell', 'Litton Das', 'Jonny Bairstow', 'David Warner', 'Virat Kohli', 'Dinesh Chandimal', 'Tom Blundell', 'Shreyas Iyer', 'Tom Latham', 'Angelo Mathews', 'Devon Conway', 'Cheteshwar Pujara', 'Temba Bavuma', 'Mushfiqur Rahim', 'Kraigg Brathwaite', 'Ben Stokes', 'Mayank Agarwal', 'Alex Carey', 'Ollie Pope', 'Imam-ul-Haq', 'Mohammad Rizwan', 'Sean Williams', 'Dean Elgar', 'Azhar Ali', 'Colin de Grandhomme', 'Henry Nicholls', 'Abid Ali', 'Ravindra Jadeja', 'Cameron Green', 'Dhananjaya de Silva', 'Shakib Al Hasan', 'Ajinkya Rahane', 'Tamim Iqbal', 'Keegan Petersen', 'Harry Brook', 'Abdullah Shafique', 'Jermaine Blackwood', 'Niroshan Dickwella', 'Kyle Verreynne', 'Sarfaraz Ahmed', 'Sikandar Raza', 'Nkrumah Bonner', 'Zak Crawley', 'KL Rahul', 'Kusal Mendis', 'Ben Duckett', 'Fawad Alam', 'Rassie van der Dussen', 'Aiden Markram', 'Oshada Fernando', 'Shubman Gill', 'Hanuma Vihari', 'Ibrahim Zadran', 'Rory Burns', 'Ben Foakes', 'Mahmudullah', 'Tim Paine', 'Mominul Haque', 'Kyle Mayers', 'Pathum Nissanka', 'Jos Buttler', 'Jason Holder', 'Sarel Erwee', 'Kusal Perera', 'Shane Dowrich', 'Alex Lees', 'Matthew Wade', 'John Campbell', 'Joshua Da Silva', 'Regis Chakabva', 'Joe Burns', 'Washington Sundar', 'Ravichandran Ashwin', 'Shan Masood', 'Najmul Hossain Shanto', 'Lahiru Thirimanne', 'Hashmatullah Shahidi', 'Kamindu Mendis', 'Dominic Sibley', 'Faheem Ashraf', 'Jamie Overton', 'Nurul Hasan', 'Chris Woakes', 'Roston Chase', 'Dawid Malan', 'Marcus Harris', 'Will Young']

In [ ]:
teams = box.find_all('div', class_="cb-font-12 text-gray")

Team = []

for i in teams:
    Team.append(i.text)

print(Team)

['AUSTRALIA', 'AUSTRALIA', 'PAKISTAN', 'AUSTRALIA', 'ENGLAND', 'NEW ZEALAND', 'INDIA', 'AUSTRALIA', 'SRI LANKA', 'INDIA', 'NEW ZEALAND', 'BANGLADESH', 'ENGLAND', 'AUSTRALIA', 'INDIA', 'SRI LANKA', 'NEW ZEALAND', 'INDIA', 'NEW ZEALAND', 'SRI LANKA', 'NEW ZEALAND', 'INDIA', 'SOUTH AFRICA', 'BANGLADESH', 'WEST INDIES', 'ENGLAND', 'INDIA', 'AUSTRALIA', 'ENGLAND', 'PAKISTAN', 'PAKISTAN', 'ZIMBABWE', 'SOUTH AFRICA', 'PAKISTAN', 'NEW ZEALAND', 'NEW ZEALAND', 'PAKISTAN', 'INDIA', 'AUSTRALIA', 'SRI LANKA', 'BANGLADESH', 'INDIA', 'BANGLADESH', 'SOUTH AFRICA', 'ENGLAND', 'PAKISTAN', 'WEST INDIES', 'SRI LANKA', 'SOUTH AFRICA', 'PAKISTAN', 'ZIMBABWE', 'WEST INDIES', 'ENGLAND', 'INDIA', 'SRI LANKA', 'ENGLAND', 'PAKISTAN', 'SOUTH AFRICA', 'SOUTH AFRICA', 'SRI LANKA', 'INDIA', 'INDIA', 'AFGHANISTAN', 'ENGLAND', 'ENGLAND', 'BANGLADESH', 'AUSTRALIA', 'BANGLADESH', 'WEST INDIES', 'SRI LANKA', 'ENGLAND', 'WEST INDIES', 'SOUTH AFRICA', 'SRI LANKA', 'WEST INDIES', 'ENGLAND', 'AUSTRALIA', 'WEST INDIES', 'WEST INDIES', 'ZIMBABWE', 'AUSTRALIA', 'INDIA', 'INDIA', 'PAKISTAN', 'BANGLADESH', 'SRI LANKA', 'AFGHANISTAN', 'SRI LANKA', 'ENGLAND', 'PAKISTAN', 'ENGLAND', 'BANGLADESH', 'ENGLAND', 'WEST INDIES', 'ENGLAND', 'AUSTRALIA', 'NEW ZEALAND']

In [ ]:
ratings = box.find_all('div', class_="cb-col cb-col-17 cb-rank-tbl pull-right")

Rating = []

for i in ratings:
    Rating.append(i.text)

print(Rating)

['929', '892', '862', '841', '826', '810', '797', '770', '748', '732', '712', '702', '697', '680', '676', '673', '671', '666', '654', '654', '646', '642', '640', '639', '637', '633', '631', '628', '621', '614', '604', '603', '596', '593', '589', '581', '580', '578', '577', '570', '570', '566', '561', '552', '549', '549', '549', '534', '528', '524', '523', '523', '523', '517', '516', '513', '510', '507', '506', '500', '496', '491', '486', '485', '481', '479', '477', '476', '470', '461', '453', '450', '441', '439', '435', '433', '431', '430', '428', '427', '427', '425', '423', '423', '422', '419', '397', '396', '395', '393', '390', '388', '386', '386', '383', '379', '378']

In [ ]:
test = {
    'Position' : Position,
    "Player" : Player,
    "Rating" : Rating
}

In [ ]:
test = pd.DataFrame(test)

In [ ]:
test

   Position              Player Rating
0         1  Marnus Labuschagne    929
1         2        Steven Smith    892
2         3          Babar Azam    862
3         4         Travis Head    841
4         5            Joe Root    826
..      ...                 ...    ...
92       96        Chris Woakes    386
93       97        Roston Chase    386
94       98         Dawid Malan    383
95       99       Marcus Harris    379
96      100          Will Young    378

[97 rows x 3 columns]

In [ ]:
test.to_csv('Batting_Test.csv',index=False)